<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for?(:title) ? yield(:title) : "Plante Moi Pas" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- NES.css -->
    <link href="https://unpkg.com/nes.css@2.3.0/css/nes.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet" />

    <%= stylesheet_link_tag "application", media: "all", "data-turbo-track": "reload" %>
    <%# this raise an error %>
    <%# <%= javascript_include_tag "application", type: "module", "data-turbo-track": "reload" %>
  </head>

  <body>
    <div class="main-container container-gap">
      <header class="nes-container is-rounded with-title">
        <p class="title">🌿 Plante-moi pas</p>
        <nav class="flex space-x-3">
          <% if user_signed_in? %>
            <%= link_to "Mon profil", mon_profil_path, class: "nes-btn is-primary" %>
            <%= link_to "Déconnexion", destroy_user_session_path, method: :delete, class: "nes-btn is-error" %>
          <% end %>
        </nav>
      </header>

      <% if notice %>
        <div class="nes-container is-success is-rounded">
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="nes-container is-error is-rounded">
          <%= alert %>
        </div>
      <% end %>

      <%= yield %>  <!-- rendu unique du contenu de la vue -->
    </div>
  </body>
</html>
